<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xsi:schemaLocation="http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-4.2.xsd
		http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.2.xsd"
		default-lazy-init="true">

	<!-- 自动扫描 -->
	<context:component-scan base-package="com.keepmoving.yuanmeng.services"/>
	<context:component-scan base-package="com.keepmoving.yuanmeng.dao"/>
		
	<!-- 自动扫描Controller -->
	<context:component-scan base-package="com.keepmoving.yuanmeng.controller"/>
	
	
	<!--具体的实现bean -->
	<bean id="demoService" class="com.keepmoving.yuanmeng.dubboService.DemoServiceImpl" />
	
	<!-- 提供方应用信息，用于计算依赖关系 -->
	
</beans>
